:host {
  width: 100%;

  .toolbar {
    width: 100%;

    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .toolbar-item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
