<div class="grid-wrapper">
  <ag-grid-angular
    #agGrid
    class="ag-theme-alpine"
    style="height: 100%; width: 100%;"
    rowSelection="multiple"
    [rowData]="rowData$ | async"
    [columnDefs]="columnDefs"
    [modules]="modules"
    [sideBar]="sideBar"
    [frameworkComponents]="frameworkComponents"
    [getContextMenuItems]="getContextMenuItems"
    [rowHeight]="80"
    [suppressContextMenu]="false"
    (gridReady)="onGridReady()"
    (selectionChanged)="onSelectionChanged()"
  ></ag-grid-angular>
</div>
